@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&family=Montserrat:wght@300&family=Smooch+Sans:wght@300&display=swap');

*{
  margin: 0px;
  padding: 0px;
  font-family: 'Montserrat', sans-serif;
  list-style: none;
}

.App {
  text-align: center;
}

.bigBanner{
  font-size: 1.8rem;
  border-radius: 20px;
  box-shadow: 5px 5px 30px rgba(0, 132, 255, 0.774);
}
